/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem;
}

.title {
  text-align: center;
  color: red;
  transition: ease 0.3s letter-spacing;
}

.title:hover {
  letter-spacing: 4px;
}

.boards {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.board-one,
.board-two {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.board-cell {
  border: 1px solid black;
  transition: ease 0.5s background-color;
}

.board-cell:hover {
  background-color: rgba(86, 84, 84, 0.728);
}

.ship {
  background-color: red;
  transition: ease 0.5s transform;
}

.ship:hover {
  background-color: red;
  transform: scale(1.07);
  transform: translateY(-4px);
}

.ship:active {
  transform: scale(1);
  transform: translate(0);
}

.miss {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.sunk {
  background-color: gray;
}
