/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem;
}

.title {
  text-align: center;
  color: red;
  transition: ease 0.3s letter-spacing;
}

.title:hover {
  letter-spacing: 4px;
}

.boards {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.board-one,
.board-two {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: grey;
}

.board-cell {
  border: 1px solid black;
  transition: ease 0.5s background-color;
}

.board-cell:hover {
  background-color: rgba(86, 84, 84, 0.728);
}

.ship {
  background-color: red;
  transition: ease 0.5s transform;
}

.ship:hover {
  background-color: red;
  transform: scale(1.07);
  transform: translateY(-4px);
}

.ship:active {
  transform: scale(1);
  transform: translate(0);
}

.miss {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.sunk {
  background-color: gray;
}

.game-buttons {
  display: flex;
  gap: 2rem;
}

.body-stuff {
  display: flex;
  gap: 1rem;
}

.ships-container {
  margin-top: 20%;
  height: 100%;
  width: 40%;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.inner-container {
  display: flex;
  transition: 0.2s ease transform;
  margin-right: 1rem;
}

.inner-container:hover,
.clicked {
  transform: translateY(10px);
  transform: scale(1.2);
}

.ship-4,
.ship-3,
.ship-2,
.ship-1 {
  display: flex;
}

.ships-container .ship {
  width: 10px;
  height: 10px;
  transition: none;
}

.ships-container .ship:hover {
  transform: none;
}

.ships-container span {
  margin-right: 1rem;
}

.horizontal,
.vertical {
  transition: 1s ease font-size;
  display: inline-block;
}

.horizontal:hover,
.vertical:hover {
  transform: translateY(10px);
  transform: scale(1.2);
}
